@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;700&display=swap');

body{
    background-color: #ECE5C7;
    color: #354259;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.principal{
    display: flex;
    width: 70vw;
    height: 600px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.principal__container{
    display: grid;
    grid-template-areas: 
    "linha1 imagem"
    "linha2 imagem"
    "linha3 imagem"
    "linha4 imagem"
    "linha5 imagem";

    grid-template-columns: 60% 40%;
    grid-template-rows: 5% 30% 30% 30% 5%;

    background-color: #C2DED1;
    border: 2px solid #354259;
    box-shadow: 1px 1px 8px 1px #354259;
    border-radius: 20px;
}

.principal__titulo{
    grid-area: linha2;
    width: 60%;
    align-self: end;
    padding-left: 40px;
    font-weight: 700;
    font-size: 40px;
}

.principal__texto{
    grid-area: linha3;
    align-self: center;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
}

.principal__input{
    grid-area: linha4;
    margin-left: 40px;
    align-self: start;
    width: 60%;
    height: 30px;
    background-color: #ECE5C7;
    padding: 0;
    padding-left: 20px;
    border: none;
    border: 2px solid #354259;
    border-radius: 20px 0 0 20px;
}

.principal__input:focus{
    outline: none;
}

.principal__button{
    width: 100px;
    height: 35px;
    background-color: #354259;
    color: #C2DED1;
    font-weight: 700;
    padding: 0;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.principal__button:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    background-color: #252e3d;
    color:white;
}

.input-button__container{
    padding: 0;
    grid-area: linha4;
    align-self: top;
}

.principal__imagem{
    grid-area: imagem;
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
}

.principal__icones{
    grid-area: linha4;
    align-self: end;
    margin: 0 auto;
    border-top: 2px solid #354259;
}

.icones{
    font-size: 32px;
    margin: 0 16px;
    margin-bottom: 0;
    margin-top: 16px;
    color:#354259;
    cursor:pointer;
}

.icones:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.3);
}